{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block main %}
 <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">General</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
                <form action="#" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy  }}
                    <div class="form-group">

              </div>
            <button type="submit" class="button">Kaydet</button>
                </form>

            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>

      </div>
{% endblock %}