{% extends "base.html" %}


{% block main %}
    <div class="card">
    <div class="modal"  tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" id="delete-botton" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
        <div class="card-header">
          <h3 class="card-title">Projects</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th style="width: 1%">
                          #
                      </th>
                      <th style="width: 20%">
                         Şirket Adı
                      </th>
                      <th style="width: 30%">
                          Şirket Fotoğrafı

                      </th>
                      <th>
                            Şirket Açıklaması
                      </th>
                      <th style="width: 8%" class="text-center">
                          Status
                      </th>
                      <th style="width: 20%">
                      </th>
                  </tr>
              </thead>
              <tbody>
              {% for company in companies %}
                  <tr>
                      <td>
                          #
                      </td>
                      <td>
                          <a>
                              {{ company.name }}
                          </a>

                      </td>
                      <td>

                          <ul class="list-inline">
                              <li class="list-inline-item">

                                  <img alt="Avatar" class="img-circle elevation-2" style="width: 100px; height: 100px" src="{{ company.image.url }}">
                              </li>


                          </ul>
                      </td>
                      <td class="project_progress">
                         {{ company.company_description }}
                      </td>
                      <td class="project-state">
                          <span class="badge badge-success">Success</span>
                      </td>
                      <td class="project-actions text-right">
                          <a class="btn btn-primary btn-sm"  href="{% url 'company_detail' company.id %}">
                              <i class="fas fa-folder">
                              </i>
                              View
                          </a>
                          <a class="btn btn-info btn-sm" href="{% url 'company_update' company.id %}">
                              <i class="fas fa-pencil-alt"  >
                              </i>
                              Edit
                          </a>
                          <a class="btn btn-danger btn-sm" onclick="deleteBtn({{ company.id }})" id="delete" href="#" data-toggle="modal" data-target=".modal">
                              <i class="fas fa-trash">
                              </i>
                              Delete
                          </a>
                      </td>
                  </tr>
                 {% endfor %}
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
    <script>
    var deleteBtn = function (companyId){
        var commitBtn = document.querySelector('#delete-botton')
        commitBtn.addEventListener('click', function (){
           console.log("tıklandı", companyId)
            $.ajax({
                url: 'list-company/{{ companyId }}/delete',
                data: {
                    'companyId': companyId
                },
                success: function (){
                   alert("silindi")
                }
            })

        })

    }


    </script>
{% endblock %}